svg.spinner {
    --spinner-size: 40;
}

svg.spinner circle {
    animation: spinner 2s linear infinite;
    transform-origin: calc(0.5px * var(--spinner-size)) calc(0.5px * var(--spinner-size)) 0;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: calc(0.66px * var(--spinner-size));
    } 50% {
        transform: rotate(720deg);
        stroke-dashoffset: calc(3.14px * var(--spinner-size));
    } 100% {
        transform: rotate(1080deg);
        stroke-dashoffset: calc(0.66px * var(--spinner-size));
    }
}